@import './layout.scss';

body {
  font-family: $title-font;
  color: $text-color;
}

.logo {
  font-size: 2.4rem;
  font-weight: bolder;
}

.logo-mini {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, .3);
  color: white;
  font-size: 1.6rem;
}

.btn {
  padding: $sm $lg;
  border-radius: $xs;
  background: rgba(0, 0, 0, 0.12);
  border: none;
  color: $text-color;

  &:active {
    transform: translateY(1px);
  }

  &:active, &:focus {
    outline: none;
  }

  &:hover {
    filter: brightness(0.8);
  }

  &.primary {
    background: $primary-color;
    color: $light-color;
  }

  &.secondary {
    background: $secondary-color;
    color: $light-color;
  }

  &.light {
    background: $light-color;
    color: $primary-color;
  }

  &.success {
    background: $success-color;
    color: $light-color;
  }

  &.danger {
    background: $danger-color;
    color: $light-color;
  }

  &.info {
    background: $info-color;
    color: $light-color;
  }

  &.warning {
    background: $warning-color;
    color: $light-color;
  }

  &.outlined.primary {
    border: 1px solid $primary-color;
    background: transparent;
    color: $primary-color;

    &:hover {
      background: $dark-primary;
      color: $light-color;
    }
  }

  &.outlined.secondary {
    border: 1px solid $secondary-color;
    background: transparent;
    color: $secondary-color;

    &:hover {
      background: $secondary-color;
      color: $light-color;
    }
  }

  &.outlined.light {
    border: 1px solid $light-color;
    background: transparent;
    color: $light-color;

    &:hover {
      background: $light-color;
      color: $light-color;
    }
  }

  &.outlined.success {
    border: 1px solid $success-color;
    background: transparent;
    color: $success-color;

    &:hover {
      background: $success-color;
      color: $light-color;
    }
  }

  &.outlined.danger {
    border: 1px solid $danger-color;
    background: transparent;
    color: $danger-color;

    &:hover {
      background: $danger-color;
      color: $light-color;
    }
  }

  &.outlined.info {
    border: 1px solid $info-color;
    background: transparent;
    color: $info-color;

    &:hover {
      background: $info-color;
      color: $light-color;
    }
  }

  &.outlined.warning {
    border: 1px solid $warning-color;
    background: transparent;
    color: $warning-color;

    &:hover {
      background: $warning-color;
      color: $light-color;
    }
  }
}

//input styling
.form-group {
  margin-bottom: $md;
  display: flex;
  flex-direction: column;

  label {
    font-size: .8rem;
  }

  input {
    background: rgba(0, 0, 0, 0.12);
    color: $text-color;
    border-radius: $xs;
    border: none;
    padding: $sm;

    &.rounded {
      border-radius: 30px;
      padding: $sm $lg;
    }

    &::placeholder {
      font-family: $title-font;
    }
  }

  .input-area {
    display: flex;
    align-items: center;

    input {
      flex: 1;
    }
  }


  .error-text {
    text-align: right;
    color: $danger-color;
  }

}

//backgrounds
.bg-primary {
  background-color: $primary-color;
}

.bg-secondary {
  background-color: $secondary-color;
}

.bg-light {
  background-color: $light-color;
}

.bg-success {
  background-color: $success-color;
}

.bg-danger {
  background-color: $danger-color;
}

.bg-info {
  background-color: $info-color;
}

.bg-warning {
  background-color: $warning-color;
}

.bg-yts-dark {
  background-color: $yts-dark-color;
}

.bg-yts-green {
  background-color: $yts-green-color;
}

//texts
.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-light {
  color: $light-color;
}

.text-success {
  color: $success-color;
}

.text-danger {
  color: $danger-color;
}

.text-info {
  color: $info-color;
}

.text-warning {
  color: $warning-color;
}

.title {
  font-size: $title-size;
  font-weight: bold;
}

.sub-title {
  font-size: $accent-size;
}

.text-center {
  text-align: center;
}


.text-right {
  text-align: right;
}


.text-left {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

//cards

.card, %card {
  border-radius: $sm;
  padding: $md;
  //box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
}

@media (max-width: 1656px) {
  .all-movie {
    margin: 0 6.25% 0 6.25%;
  }
}

@media (min-width: 1657px) {
  .all-movie {
    margin: 0 15% 0 15%;
  }
}


//cursor

.pointer {
  cursor: pointer;
}

//scrollbar

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// 
nav {
  height: 60px;
  padding: 0 $wrapper-val;
}

// background
.movie-lower {
  background-color: $yts-dark-color;
}

.MuiPagination-ul {
  background-color: none;
  text-color: $light-color;

}

.css-1cq9nzt-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: $pagination-green !important;
  color: $light-color !important;
}

.MuiPagination-ul > li {
  padding: 8px 0 8px 0;
}

.MuiPagination-ul > li > button {
  color: $light-color;
  font-weight: bold;
  border: 1px solid #333;
  //margin: 8px 0 8px 0;

}

.yt-trailer {
  transform: translate(10%, -30%);
  //z-index: 10;
}

.movie-bg {
  position: abs;
  left: 0;
  right: 0;
  width: 100%;
  top: 60px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-bg {
  background-repeat: no-repeat;
  //background-size: cover;
}

.movie-title {
  font-family: $movie-font;
  //font-size: $xxl;
  color: #ffffff;
}

.movie-poster {
  border: 5px solid $light-color;
  border-radius: 5px;
  //height: 345px;
  //width: 230px;
}

.movie-detail-poster {
  border: 5px solid $light-color;
  border-radius: 5px;
  //height: 345px;
  //width: 230px;
}

.movie-poster:hover {
  border: 5px solid $yts-active-green
}

.movie-poster-overlay:hover {
  z-index: 10;
  //background-color: rgba(0,0,0,.801);
  background-color: rgba(24, 24, 24, 0.8);
}

.movie-in-detail {
  margin-left: 10%;
  margin-top: 2%;
}

.movie-card {
  font-family: $footer-font !important;
  font-size: 0.95em;
  color: $light-color;
  letter-spacing: -0.03em;
  font-weight: 700;
  line-height: 1.5em;
}

.director-image, .cast-image {
  height: 80px;
  width: 60px;
  clip-path: inset(0 0 20px 0 round 50px);
  //overflow: hidden;
  //border-radius: 50%;
}

.yts-header-footer {
  background-color: $yts-footer-dark;
  font-family: $footer-font;
}

.yts-font {
  font-family: $footer-font;
}

.upper > span:hover {
  color: $light-color;
}

.lower > .link:hover {
  color: $light-color;
}

.nav-items {
  font-size: 0.90em;
  font-weight: bold;
  letter-spacing: -.03em;
}

.nav-item:hover {
  color: $light-color;

}


.yts-grey {
  color: $yts-footer-grey;
}

//overlay effect

.dload-button {
  cursor: pointer;
  border-radius: $xs;
}

.dload-button:hover {
  background-color: $pagination-green;
}

.font-italic {
  font-style: italic;
}

.overlay {
  position: fixed;
  //display: block;
  width: 45%;
  height: 65%;
  top: 12.5%;
  left: 30%;
  //right: 20%;
  //bottom: 0;
  background-color: $light-color;
  //cursor: pointer;
  //color: $yts-active-green;
  z-index: 999;
  border-radius: 1%;
}

.popUp-title {
  color: $yts-active-green;
  font-size: 1.2em;
  font-weight: 700;
}

.dark-popup-bg {
  background-color: rgba(24, 24, 24, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

//pagination

.pagination {
  //display: inline-block;
}

.pagination button {
  color: #000;
  float: inside;
  padding: $sm $md-1;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 $xs;
}

.dloads {

}


//video-quality-background

.hd {
  background-image: url('../../assets/svg/icon-720p.svg');
  width: 101px;
  height: 66px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.full-hd {
  background-image: url('../../assets/svg/icon-1080p.svg');
  width: 131px;
  height: 81px;
}

.four-K {
  background-image: url('../../assets/svg/icon-2160p.svg');
  width: 131px;
  height: 81px;
}

.three-D {
  background-image: url('../../assets/svg/icon-3D.svg');
  width: 131px;
  height: 81px;
}


//main section

.detail-section {
  font-family: $footer-font;
}

.plot {
  font-size: 1.25em;
  font-weight: bold;
}

//font-size

.fs-xs {
  font-size: $xs;
}

.fs-sm {
  font-size: $sm;
}

.fs-md {
  font-size: $md;
}

.fs-md-1 {
  font-size: $md-1;
}

.fs-lg {
  font-size: $lg;
}

.fs-xl {
  font-size: $xl;
}

.fs-xxl {
  font-size: $xxl;
}

.fs-three-xl {
  font-size: $three-xl;
}

.fs-four-xl {
  font-size: $four-xl;
}

.fs-five-xl {
  font-size: $five-xl;
}


//magnet:?xt=urn:btih:8FCEDF52B1F0929DCBD84E12ECF9467707C8F868&dn=Dead+for+A+Dollar+%282022%29+%5B720p%5D+%5BYTS.MX%5D&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969%2Fannounce&tr=udp%3A%2F%2F9.rarbg.to%3A2710%2Fannounce&tr=udp%3A%2F%2Fp4p.arenabg.ch%3A1337%2Fannounce&tr=udp%3A%2F%2Ftracker.cyberia.is%3A6969%2Fannounce&tr=http%3A%2F%2Fp4p.arenabg.com%3A1337%2Fannounce&tr=udp%3A%2F%2Ftracker.internetwarriors.net%3A1337%2Fannounce
//                    8FCEDF52B1F0929DCBD84E12ECF9467707C8F868

